.main-home{
    width:100%;
    height:100%;
}

.main-body-home{
    padding:5rem 6rem;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}


.latest-appliances , .mens-fashion , .womens-store , .deals-on-beauty{
    width:30rem;
    height:26rem;
    background: rgba(0,0,0,0.14);

    display:flex;
    flex-direction:column;
    align-items: center;
    gap:1rem;
    padding:1rem 0;
    border-radius:5px;

}

.latest-appliances > .heading , .mens-fashion >.heading , .womens-store>.heading , .deals-on-beauty > .heading{
    width:100%;
    text-align: center;
}

.latest-appliances >.appliances-category >a , .mens-fashion >.categories >a , .womens-store >.womens-clothing >a , .deals-on-beauty > .womens-clothing > a{
    text-decoration: none;
    color:black;
}
.latest-appliances >.appliances-category >a>img , .mens-fashion >.categories >a>img , .womens-store >.womens-clothing >a>img, .deals-on-beauty > .womens-clothing > a>img{
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
}
.latest-appliances > .appliances-category , .womens-clothing{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:1rem;
}


.main-body-home > .smart-tv{
    width:30rem;
    height:26rem;
        display:flex;
        flex-direction:column;
        align-items: center;
        gap:1rem;
        padding:1rem 0;
        border-radius:5px;
        background: rgba(0,0,0,0.1);



}
.main-body-home > .smart-tv >a{
    width:100%;
    height:100%;
    display:grid;
    place-items: center;
}
.main-body-home > .smart-tv >a>img{
    width:28rem;
    height:20rem;
    object-fit: cover;
    border-radius:5px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.3);


}

.mens-fashion{
    display:flex;
    gap:2rem;
}
.mens-fashion > .categories{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1rem;
}

.slider{
    width:100%;
    height:20rem;
}

.slider > .swiper{
    height:90%;
    width:78%;
    box-shadow:0px 0px 10px rgba(0,0,0,0.7)  ;
    border-radius:5px;
}

.small-card{
    height:100%;
    width:30rem;
    display:flex;
    justify-content: center;
    align-items: center;
}

.small-card > img{
    height:100%;

}
.block-buster , .kitchen-items {
    display:flex;
    gap:2rem;
    flex-direction: column;
    margin-bottom: 4rem;
}

.block-buster >h2 , .kitchen-items>h2{
    padding-left:13rem;
    font-size:1.9rem;
    text-decoration: underline;
    
}