.update-profile-main{
    display:flex;
    min-height:82vh;
    width:100%;
    justify-content: center;
    align-items:center;

}

.update-profile-main > .update-profile-card > h2{
    align-self: center;
    font-size:2rem;
    text-decoration:underline;
    margin-bottom: 2rem;
}
.update-profile-main>.update-profile-card{
height:50vh;
width:25%;
border-radius:10px;
padding:1rem 4rem;
background-color:rgba(255, 127, 80,0.8);
display:flex;
flex-direction: column;
gap:3rem;

}

.update-profile-main>.update-profile-card > div{
    display:grid;
    grid-template-columns: 20% 70% 10%;
    gap:1rem;
    font-size:1.3rem
}
.update-profile-main>.update-profile-card > div>label{
    font-weight:650
}

.update-profile-main>.update-profile-card > div>input{
background-color: transparent;
border-bottom: 1px solid gray;
font-size:1.3rem;
cursor:pointer
}


.update-profile-main>.update-profile-card > button{
    height:3rem;
    font-size:1.3rem;
    font-weight: 650;
    border-radius:10px;
    border:1px solid  green;
    color:green;
    transition: all 0.7s;
    width:15rem;
    align-self: center;
    outline:none;
    cursor: pointer
}

.update-profile-main>.update-profile-card > button:hover{
    color:white;
        background-color: green;
}





.update-profile-main>.update-profile-card > .last-redirect{
    display:flex;
    font-size:1rem
}

.update-profile-main>.update-profile-card > .last-redirect>a{
    color:blue;
}

