.main-header{
    height:10rem;
    display: flex;
    align-items:center;
    width:100%;
    flex-direction: column;
    background-color :rgb(19,25,33);
    /* padding:0 5rem; */
    /* background : linear-gradient(to bottom , rgba(44, 44, 44, 0.5), rgba(44,44,44,0)  ); */
    /* position:fixed; */
    /* animation: loading 2s ease-in-out 0.5s 1 normal forwards; */
    /* transform: translateY(-10rem); */
    z-index:99;
    transition: all 0.5s;

}


.main-header > .first-part{
    height:70%;
    /* padding:0 5rem; */
    width:100%;
    display:flex;
    align-items:center;
    justify-content: space-between;

}



.main-header > .first-part >.left{
    display:flex;
    width:10%;
    flex-direction: column;
    color:rgba(247, 23, 23, 0.9);
    margin-left:5rem;
    


    
}

.main-header > .first-part >.left >img{
    width:8rem;
    height:8rem;
}


.right{
    display: flex;
    gap:2rem;
    margin-right:5rem;
}

.right >.main-bar> .search-bar{
    border-radius:10px;
    height:3rem;
    display:flex;
    align-items: center;
    justify-content: center;
    color:white;
    background-color:rgb(206, 98, 48);
    padding-left:1rem;
    transform :translateY(-10rem) ;
    box-shadow:0px 0px 10px rgb(206, 98, 48);
    border:none;
    animation: prakatSymbol 2s ease-in-out 1.5s 1 normal forwards , symbolShadow 2s ease-in-out 5s 1 normal forwards;
    gap:1rem;



}

.main-bar{
    margin-right:3rem;
}
.right{
    display:flex;
    align-items: center;
    justify-content: center;
}


.right > .main-bar>.search-bar>input{
    width:30rem;
    height:2rem;
    background:transparent;
    outline:none;
    border:none;
    font-size: 1.4rem;
    color:white;
    
}
.right > .main-bar>.search-bar >div{
    height:100%;
    width:3rem;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:0px 10px 10px 0px;
    border-left:1px solid white;
    /* background-color:rgb(228, 87, 22); */
    animation: searchUp 2s ease-in-out 5s 1 normal forwards , symbolShadow 2s ease-in-out 5s 1 normal forwards;


}



.right > .main-bar>.search-bar >div>svg{
    color:white;

}



.right > .my-orders , .right >.cart {
display:flex;
text-decoration:none;
align-items:center;
justify-content: center;
cursor:pointer;
width:9rem;
gap:0.4rem;
height:3rem;
border-radius:10px;
background-color:rgb(228,87,22);
box-shadow:0px 0px 5px rgb(206, 98, 48);;
padding:0 1rem;
font-size:1rem;
font-weight:600;
transition:all 0.5s;
}

.right > .my-orders:hover , .right >.cart:hover{
    box-shadow:0px 0px 20px rgb(206, 98, 48);

}

.right >.accountSection{
    text-decoration:none;
    height:4rem;
    width:4rem;
    border-radius: 50%;
    display:flex;
    align-items:center;
    justify-content:center
}
.right > .accountSection > img{
    height:100%;
    border-radius: 50%;
width:100%;
}


.main-header > .second-part{
    height:30%;
    width:100%;
    background-color:rgb(35,47,62);
}

.main-header > .second-part {
    display: flex;
    gap:2rem;
    font-size:1.3rem;
    color:white;
}

.main-header > .second-part > .all{
    display:flex;
    justify-content: center;
    align-items:center;
    gap:0.5rem;
    margin-left:4rem;
}

.main-header > .second-part > .other-options{
    margin-left:4rem;
    display:flex;
    gap:3rem;
    justify-content:center;
    align-items:center;
}





/* CSS for the side header */
.side-header{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    border:1px solid white;
    z-index:999999;
    width:25%;
    background-color:white;
    transform:translateX(-35rem);
    transition:all 0.7s;
}

.side-header > div>.account{
    
    height:4rem;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(35,47,62);
    
}

.side-header > div>.account > p{
    font-weight: 650;;
    font-size:1.5rem;
    color:white;
}

.side-header  > div>.options{
    height:100%;
    /* background-color: rgb(19,25,33); */
    padding: 2rem;
    display:flex;
    flex-direction:column;
    gap:2rem;
}
.side-header  > div>.options >div{
    display:flex;
    flex-direction: column;
    gap:0.6rem;
}
.side-header  >div> .options >div> .item-header{
    /* color:white; */
    font-weight:550;
    font-size:2rem;

}

.side-header  >div> .options >div>.item-sub-header{
    font-size:1.2rem;
    font-weight:550;
}

.side-header  > div>.options >div::after{
    content:"";
    width:100%;
    height:2px;
    background-color:rgba(0,0,0,0.5);
    
}

.side-header > .cross{
    position:absolute;
    right:-3rem;
    top:1rem;
    color:white;
}

.side-header > .cross>svg{
    font-size:2.5rem;
    cursor:pointer;
}

.translateXNegative{
    transform:translateX(-35rem);
}
.translateXPositive{
    transform:translateX(0rem);
}

@keyframes prakatInput {
    10%{
        width:1rem;
    }
    20%{
        width:4rem;
        
    }
    40%{
        width:8rem;
        
    }
    60%{
        width:12rem;

    }
    80%{
        width:16rem;
    }
    100%{
        width:20rem;
    }
}

@keyframes prakatSymbol{
    10%{
        transform: translateY(-6rem);
        
    }
    20%{
        transform: translateY(0rem) ;

    }
    30%{
    transform: translateY(-2rem);
    }
   
    50%{
        transform: translateY(0rem);
    }
    
    60%{
        transform:translateY(-1rem) ;
    }
    70%{
        transform: translateY(0rem);

    }
    80%{
        transform: translateY(-0.5rem) ;
    }
    90%{
        transform: translateY(-0.3rem) ;
    }
    100%{
        transform: translateY(0rem) ;
    }
    
}

@keyframes loading {
    100%{
transform: translateY(0rem);
    }
}

@keyframes symbolShadow {
    100%{
        box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    }
}

@keyframes searchUp {
    100%{
            background-color:rgb(228, 87, 22);

    }
}